/* FONTS */

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway/static/Raleway-BoldItalic.ttf);
}

/* BASICS */

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, serif;
  /* color: #626262; */
  line-height: 1.714;
}

body {
  margin: 0;
  background-color: #f6f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.4;
}

p {
  margin: 0 0 1em;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: #afafaf;
  border-bottom: 1px solid #afafaf;
}

a:hover {
  border-bottom: none;
}

/* LAYOUT  */

.container {
  max-width: 1060px;
  margin: 0 auto;
}

/* Components */

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
 }
 ::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #b3b3b3 14%,#dbdbdb 64%);
  border-radius: 10px;
 }
 ::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(13deg, #DBDBDB 14%,#b3b3b3 64%);
 }
 ::-webkit-scrollbar-track{
  background: #ffffff;
  border-radius: 10px;
  box-shadow: inset 7px 10px 12px #f0f0f0;
 }
 

.main-header {
  background-color: #d3e0ea;
}

.main-header-content {
  height: 100px;
}

.main-header .logo {
  font-family: Raleway, serif;
  font-size: 1.785rem;
}

input[name='location-input'] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-inline-end: 10px;
}

.location-go-btn {
  margin-inline-end: 10px;
}

.display-container {
  background-color: white;
}

.display-location-container {
  height: 110px;
  margin-block-end: 20px;
}

.info-container {
  flex-basis: 50%;
}

.weather-container {
  background-color: #d3e0ea;
  border-radius: 5px;
  color: black;
  padding: 25px;
  height: 200px;
  justify-content: center;
  background-image: url('/img/icons-weather.png');
  background-size: contain;
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
  justify-content: center;
}

.weather-container h2 {
  font-family: Raleway;
  margin-bottom: 5px;
}

.main-container {
  margin-bottom: 150px;
  height: 80vh;
}

.table-container {
  max-height: 200px;
  overflow-y: scroll;
}

.location-table {
  width: 100%;
}

.table-item td {
  text-align: center;
  border-radius: 5px;
  background-color:  #d3e0ea;
  padding: 10px;
}

/* HELPERS */

/* flex helpers */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.space-between {
  justify-content: space-between;
}

.flex.align-center {
  align-items: center;
}

.container-bg {
  background-color: #f0f0f0;
}

/* list helpers */

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Button helpers */

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #f6f5f5;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.6;
}
